

.footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: left;
  padding: 12px 0;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0; /* optional: set to 0 so no rounded gaps */
  /* position: sticky; */
  /* bottom: 0; */
}

.footerText {
  margin-left: 25px;
  font-size: 0.9rem;

}

