.Container {
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  margin: 40px 18%;
  margin-bottom: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}


.buttonBox {
  background-color: rgba(202, 199, 199, 0.908);
  margin: 0;
  padding: 16px;           
  border-radius: 20px;
  text-align: left;
  min-width: 60rem;   
  min-height: 17rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  background-color: pink;
}
.agendaForm {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
