body {
  background-image: url('./images/Henk_Wijngaard_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;

  /* optional: keep background fixed during scroll:

  */
}

#root {
  display: flex;
  flex-flow: column;
}

main {
  flex: 1;
}