#AgendaTekst {
    color: red;
}

.contentContainer {
  margin: 2.5rem 18%;
  margin-bottom: 0.625rem;
  padding: 1.25rem;
  background-color: rgba(255, 255, 255, 0.552);
  border-radius: 15px;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;

}

.agendaBlock {
  display: flex;
  /* gap: 1.5rem; */
  background-color: rgba(202, 199, 199, 0.908);
  margin: 0;
  /* margin-left: -0.5rem; */
  padding: 1rem;           
  border-radius: 1.25rem;
  text-align: left;
}

.agendaTextContainer {
  display: flex;
  flex-direction: column;
  max-width: 720px;
}

#agendaTitle {
  width: 12rem;
  height: 2.5rem;
  flex-shrink: 0;
  background-color: rgba(180, 179, 179, 0.3);
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

#agendaInfo {
  width: 12rem;
  height: 6.5rem;
  margin-top: 0.5rem;
  flex-shrink: 0;
  background-color: rgba(180, 179, 179, 0.3);
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;

}
#agendaDate {
  width: 12rem;
  height: 2.5rem; 
  margin-top: 0.5rem;
  flex-shrink: 0;
  background-color: rgba(180, 179, 179, 0.3);
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#agendaImage {
  width: 12.5rem;
  height: 12.5rem;
  flex-shrink: 0;
  background-color: rgba(180, 179, 179, 0.3);
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clearfix {
  clear: both;
}