#AgendaTekst {
    color: red;
}

.contentContainer {
  margin: 40px 18%;
  margin-bottom: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.552);
  border-radius: 15px;
}

.agendaBlock {
  display: flex;
  gap: 24px;
  background-color: rgba(202, 199, 199, 0.908);
  margin: 0;
  padding: 16px;           
  border-radius: 20px;
  text-align: left;
}

.agendaTextContainer {
  display: flex;
  flex-direction: column;
  max-width: 720px;
}

.agendaTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  background-color:rgba(173, 172, 172, 0.577);

}

.agendaInfo {
  font-size: 1rem;
  margin-bottom: 10px;
  background-color:rgba(180, 179, 179, 0.577);
  border-radius: 0.5rem;

}
.agendaDate {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
  background-color:rgba(173, 172, 172, 0.577);
  border-radius: 0.5rem;
}

.agendaImage {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  background-color: rgba(180, 179, 179, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agendaImage img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 10px;
}